[Desktop Entry]
Name=Python (v2.6)
Comment=Python Interpreter (v2.6)
Exec=/usr/bin/python2.6
Icon=/usr/share/pixmaps/python2.6.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
