[Desktop Entry]
Type=Application
Name=Reportbug
Name[ru]=Reportbug
Comment=Report bugs to the Debian BTS
Comment[ru]=Создание и отправка отчёта об ошибке в Debian BTS
GenericName=Debian bug reporting tool
GenericName[ru]=Отчёт об ошибке Reportbug
X-GNOME-FullName[ru]=Отчёт об ошибке Reportbug
Icon=/usr/share/reportbug/debian-swirl.svg
TryExec=reportbug
Exec=reportbug --exit-prompt --ui gtk2
Categories=System;
