KERNEL=="fuse", GROUP="fuse", OPTIONS+="static_node=fuse"
ACTION=="add", SUBSYSTEM=="module", KERNEL=="fuse", RUN+="/bin/mount -t fusectl fusectl /sys/fs/fuse/connections"
