#!/bin/sh

set -e

. /usr/share/debconf/confmodule

_CONFFILE="/etc/default/ntfs-3g"

if [ -e "${_CONFFILE}" ]
then
	. ${_CONFFILE} || true

	db_set ntfs-3g/initramfs "${NTFS3G_INITRAMFS}"
	db_fset ntfs-3g/initramfs seen false
fi

db_input medium ntfs-3g/setuid-root || true
db_input low ntfs-3g/initramfs || true
db_go

db_stop
