#!/bin/sh
#
#

set -e
# Source debconf library.
. /usr/share/debconf/confmodule

RCFILE=/etc/default/samba

read_rcfile() {
    # Default values
    if [ -f $RCFILE ]; then
	. $RCFILE || true
    fi
}

set_debconf() {
    if [ -n "$RUN_MODE" ]; then
        db_set samba/run_mode "$RUN_MODE" || true
    fi
}

db_settitle samba-common/title

# We first read the settings file
# in order to get admin-modified settings
read_rcfile
# Debconf-stored values are updated accordingly
set_debconf
db_input medium samba/run_mode || true
db_go

