# 
# 50cyrtexinfo.cnf
#
# Please leave this comment!
# -_- DebPkgProvidedMaps -_-
#
# Texinfo formats for cyrillic language
#
# If you want to build cyrtexinfo, the cyrillic texinfo format, you have
# to do the following steps (all as root)
# . install either tetex-base and tetex-extra, or texlive-langcyrillic
# . comment out the format line in this file
# . create a link
#	/usr/local/bin/cyrtexinfo -> ../../bin/pdfetex
# . call update-fmtutil
# . call fmtutil-sys --missing (or --all)
#
#cyrtexinfo pdfetex language.dat -translate-file=cp227.tcx *cyrtxinf.ini
